<% if user_signed_in? %>
  <p>Current User:
    <%= current_user.email%>
  </p>
  <br/>
<%end%>
 
 <img style=" display: block; margin-right: auto; margin-left: auto;"  src="assets/father_time.gif" alt="time"/>
