<!DOCTYPE html>
<html>
<head>
  <title>ToDoManagerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet"> 
  <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
